@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  background-color: white;
  color: black;
  display: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  text-align: center;
}

.body {
  background-color: black;
  width: 100%;
}

.inner-layout {
  padding: 2rem;
}

.content-card {
  background-color: white;
  width: 50%;
  min-height: 1rem;
  padding: 2rem;
}

.border {
  border: 1.5px solid black;
}

.content-card > div {
  width: 100%;
}

.sub-heading-card {
  width: 70%;
  background-color: white;
  color: black;
  padding: 1rem;
}

.card {
  border: 1px solid black;
  border-radius: 4px;
  margin: 1rem;
  padding: 1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
