.bullet {
  border-radius: 9999px;
  background-color: black;
  color: white;
  min-width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-small;
  margin-right: 1rem;
}

.button-disabled {
  opacity: 50%;
}

.disabled {
  background-color: rgba(206, 206, 206, 0.812);
}

.error {
  color: red;
}

.primary {
  background-color: black;
  color: white;
}

.secondary {
  background-color: white;
  color: black;
  border: 2px solid black;
}
